<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.trinug.mobile.phonegap"
	version 	= "1.0.1">

    <name>TRINUG</name>

    <description>
        Triangle .NET User Group
    </description>

    <author href="https://github.com/justinsaraceno"
		email="justin.saraceno@gmail.com">
        Justin Saraceno
    </author>
    <preference value="1.7.0" name="phonegap-version"/>

    <!-- icons -->
    <icon src="icon_057.png" gap:role="default" />
    <icon src="Content/images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="Content/images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="Content/images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash.png" />
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi"/>
    
    <!-- api access -->
    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />

    <preference name="orientation" value="default" />
</widget>