<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

    <name>TRINUG</name>

    <description>
        Triangle .NET Users Group
    </description>

    <author href="https://github.com/justinsaraceno"
		email="justin.saraceno@gmail.com">
        Justin Saraceno
    </author>

    <icon src="icon.png" gap:role="default" />

    <preference name="orientation" value="portrait" />
</widget>