<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.trinug.mobile.phonegap"
	version 	= "0.2.0">

    <name>TRINUG</name>

    <description>
        Triangle .NET Users Group
    </description>

    <author href="https://github.com/justinsaraceno"
		email="justin.saraceno@gmail.com">
        Justin Saraceno
    </author>

    <icon src="icon_057.png" gap:role="default" />
    <gap:splash src="Content/images/trinug_headerlogo.png" width="242" height="116" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />

    <preference name="orientation" value="default" />
</widget>